@import "screen/desktop.css";
@import "screen/mobile.css";
@import "variable.css";

.hidden {
  display: none;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0;
}
span,
input,
button,
h1,
ul,
li {
  color: var(--main-color);
}

img {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  justify-content: center;
}
